<!DOCTYPE html>
<html>
  <head>
    <title>Developer Resource Center</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.0/material.indigo-yellow.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
          <header class="mdl-layout__header">
             <div class="mdl-layout__header-row">
                <h1 id="header" class="mdl-layout-title">Developer Resource Center</h1>
             </div>
             <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Resources</a>
                <a href="#scroll-tab-2" class="mdl-layout__tab">API Documentation</a>
             </div>
          </header>
          <main class="mdl-layout__content">
             <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
                <div class="page-content">
                  <div id="topics"></div>
                </div>
                <footer class="mdl-mini-footer">
                     <div class="mdl-logo footer">&copy; 2016 Christian Mansour</div>
                </footer>
             </section>
             <section class="mdl-layout__tab-panel" id="scroll-tab-2">
                <div id="api-page" class="page-content">
                  <!-- ///////ABOUT CARD/////////// -->
                  <div class="wide-card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                       <h2 class="mdl-card__title-text">About the API</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                       Through the Developer Resource Center API your applications can retrieve our resources content, which includes topics and their associated resources. The base address of our api is <span id="api-address">developerRC.herokuapp.com</span> which has two available endpoints. These endpoints are open and do not require any special permissions.
                    </div>
                  </div>
                  <!-- /////////ENDPOINTS CARD////////// -->
                  <div class="wide-card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                       <h2 class="mdl-card__title-text">Endpoints</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <p class="supporting-text">Our API gives external applications access to our topics and their associated resources.</p>
                      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Method</th>
                          <th class="mdl-data-table__cell--non-numeric">Endpoint</th>
                          <th class="mdl-data-table__cell--non-numeric">Usage</th>
                          <th class="mdl-data-table__cell--non-numeric">Returns</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!-- Row 1 -->
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">GET</td>
                          <td class="mdl-data-table__cell--non-numeric">/api/topics</td>
                          <td class="mdl-data-table__cell--non-numeric">Get several topics</td>
                          <td class="mdl-data-table__cell--non-numeric">topics</td>
                        </tr>

                        <!-- Row 2 -->
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">GET</td>
                          <td class="mdl-data-table__cell--non-numeric">/api/topics/{id}</td>
                          <td class="mdl-data-table__cell--non-numeric">Get a single topic</td>
                          <td class="mdl-data-table__cell--non-numeric">topic</td>
                        </tr>

                      </tbody>
                    </table>
                    </div>
                  </div>
                  <!-- ////////REQUESTS CARD/////////// -->
                  <div class="wide-card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                       <h2 class="mdl-card__title-text">Requests</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                       <p class="supporting-text">The Developer Resource Center API is based on REST principles: data resources are accessed via standard HTTPS requests in UTF-8 format to an API endpoint. Where possible, the API strives to use appropriate HTTP verbs for each action:</p>
                       <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                       <thead>
                         <tr>
                           <th class="mdl-data-table__cell--non-numeric">Method</th>
                           <th class="mdl-data-table__cell--non-numeric">Description</th>
                         </tr>
                       </thead>
                       <tbody>

                         <!-- Row 1 -->
                         <tr>
                           <td class="mdl-data-table__cell--non-numeric">GET</td>
                           <td class="mdl-data-table__cell--non-numeric">Used for retrieving resources.</td>
                         </tr>

                       </tbody>
                     </table>
                    </div>
                  </div>
                  <!-- /////////RESPONSES CARD//////////// -->
                  <div class="wide-card mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                       <h2 class="mdl-card__title-text">Responses</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                      <p class="supporting-text">All data is received as a JSON object. Here's an example of a retrievable object:</p>
                      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                      <thead>
                        <tr>
                          <th class="mdl-data-table__cell--non-numeric">Key</th>
                          <th class="mdl-data-table__cell--non-numeric">Value Type</th>
                          <th class="mdl-data-table__cell--non-numeric">Value Descrition</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!-- Row 1 -->
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">topic</td>
                          <td class="mdl-data-table__cell--non-numeric">string</td>
                          <td class="mdl-data-table__cell--non-numeric">The name of the topic.</td>
                        </tr>

                        <!-- Row 2 -->
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">resources</td>
                          <td class="mdl-data-table__cell--non-numeric">object</td>
                          <td class="mdl-data-table__cell--non-numeric">An object of resources associated with the topic.</td>
                        </tr>

                        <!-- Row 3 -->
                        <tr>
                          <td class="mdl-data-table__cell--non-numeric">_id</td>
                          <td class="mdl-data-table__cell--non-numeric">string</td>
                          <td class="mdl-data-table__cell--non-numeric">The Developer Resource Center ID for the topic.</td>
                        </tr>

                      </tbody>
                    </table>
                    </div>
                  </div>
                </div>
                <footer class="mdl-mini-footer">
                     <div class="mdl-logo footer">&copy; 2016 Christian Mansour</div>
                </footer>
             </section>
         </main>
      </div>







  <script defer src="https://code.getmdl.io/1.2.0/material.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
