main {
  background-image: url('/images/background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

footer {
  margin-top: 6em;
}

h3 {
  color: #fff;
  font-size: 26px;
  margin-top: 2em;
}

th {
  background-color: #E0E0E0;
  text-transform: uppercase;
}

table {
  width: 100%;
}

/*.button {
  margin: 0.5em 0;
}*/

.button a{
  color: #000;
  font-size: 16px;
  text-decoration: none;
  text-transform: lowercase;
}

.wide-card.mdl-card {
  width: 60%;
  margin: 4em auto;
}

.mdl-card__media > img {
  max-width: 100%;
  height: 200px;
}

.mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
  margin-right: 3px;
  margin-left: 3px;
}

.replit-title {
  margin: 0 auto;
  display: block;
}

.black-icon {
  color: #000;
}

.go {
  font-size: 16px;
}

.mdl-cell {
  display: inline;
}

.footer {
  margin: 0 auto;
}

#topics {
  padding-left: 1em;
}

#header {
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#api-address {
  font-weight: bold;
  background-color: #edeaea;
}
